.header {
    display: flex;
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    font-size: 30px;
}

.links a {
    text-decoration: none;
    color: black;
}